.clearfix::after{   
    content: '';
    display: block;
    clear: both;
}

body{
    margin: 8px 0px;
}

.topnavbar > .logo{
    float: left;
    border: 1px solid red;
    height: 82px;
    width: 82px;
    background-image: url(./image/yidonglogo.png);
    background-position: center center;
    background-size: cover;
}

.topnavbar > .gongchenggongsi{
    float: right;
    height: 80px;

    border: 1px solid blue;
}

.topnavbar > .gongchenggongsi p{
   /* font-family: 'KaiTi';*/
    font-family: 'Microsoft YaHei';
    color: #333333;
    font-size: 60px;
    margin: 0;
}

/*main .background{
    background-image: url(./image/beijingtu.jpg);
    background-position: center center;
    background-size: 100%;
    border: 1px solid rebeccapurple;
    height: 515px;

} */

html { 
    background: url(./image/beijingtu.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

